body {
    background-color: darkslategray;
    color: white;
    font-size: 24pt;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: brown;
}

a:hover {
    color: cadetblue;
}

a:active {
    color: aquamarine;
}