body {
    background-color: darkslategray;
    color: white;
    font-size: 24pt;
    margin: 120px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    color: beige;
}